<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="zidex.css">
</head>
<body>
    <div>
        <div class="teal"></div>
        <div class="tomato"></div>
        <div class="brown"></div>
    </div>
    <div class="div2">
        <div class="teal"></div>
        <div class="first tomato"></div>
        <div class="second brown"></div>
    </div>
    <div class="div3">
        <div class="lower-first teal"></div>
        <div class="lower-second tomato"></div>
        <div class="lower-third brown"></div>
    </div>
</body>
</html>