.img {
    width: 300px;
    float: right;
}
div > img:last-child {
    width: 200px;
    height: 200px;
    float: right;
}
div > img:nth-child(2) {
    height: 200px;
    
}
div > img:nth-child(3) {
    width: 500px;
    float: left;
}
body {
    background-image: url(https://www.vreme.com/g/images/1592642_14-01.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right bottom;
    
}